###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# GitHub Linguist Overrides (Force 100% C#)
###############################################################################
# 1. Tüm alt klasörleri ve dosyaları istatistikten düşür
** linguist-vendored

# 2. Frontend uzantılarını kökten tespit edilemez yap
*.html linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.sass linguist-detectable=false
*.less linguist-detectable=false
*.js linguist-detectable=false
*.json linguist-detectable=false

# 3. Yalnızca C# ve cshtml dosyalarını istatistiğe dahil et
*.cs linguist-vendored=false
*.cs linguist-detectable=true

*.cshtml linguist-vendored=false
*.cshtml linguist-detectable=true
*.cshtml linguist-language=C#
